h1{
    /* color: black; */
}
p{
    color: red;
}

.paragraf{
    color: bisque;
    font-size: 20px;
}

.bg-teal{
    background-color: black;
}
#p4{
    color: chartreuse;
}
input[type=text]{
    background-color: aqua;
}

input[type=password]{
    background: none;
    color: rgb(185, 105, 0);

}
*{
    border: 2px solid;
    background-color: antiquewhite;
}

button:hover{
    background-color: yellow;
}

h2::first-letter{
    color: red;
    font-size: 40px;
}